* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 3fr 1fr; 
    grid-template-rows: auto auto 1fr auto; 
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: left;
    font-weight: bold;
    grid-column: 1 / span 2; 
}

nav {
    background-color: #111;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    grid-column: 1 / span 2; 
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    background-color: #d3d3d3;
    padding: 20px;
    grid-column: 1 / 2; 
}

aside {
    background-color: white;
    padding: 20px;
    grid-column: 2 / 3; 
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    grid-column: 1 / span 2; 
}
